/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #a6e22e }  /* plain text */
pre .pln { color: #a6e22e }  /* plain text */

@media screen {
  pre .str { color: #fd971f }  /* string content */
  pre .typ { color: #66d9ef }  /* a type name */
  pre .lit { color: #ae81ff }  /* a literal value */
  pre .pun, .opn, .clo { color: #f8f8f2 }

  .str { color: #fd971f }  /* string content */
  .kwd { color: #f92672 }  /* a keyword */
  .com { color: #75715e }  /* a comment */
  .typ { color: #66d9ef }  /* a type name */
  .lit { color: #ae81ff }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #f8f8f2 }
  .tag { color: #f92672 }  /* a markup tag name */
  .atn { color: #f92672 }  /* a markup attribute name */
  .atv { color: #66d9ef }  /* a markup attribute value */
  .dec, .var { color: #f8f8f2 }  /* a declaration; a variable name */
  .fun { color: #a6e22e }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .pln { color: #222222 }
  pre .pln { color: #ffffff }
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  padding: 1em 0;
  background-color: #222;
  border: 1px solid black;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #222222 }
